{% extends 'base.html.twig' %}

{% block title %}Hello TestController!
{% endblock %}

{% block body %}
	<style></style>

	<div class="example-wrapper">
		<div class="bg-blue-500 text-white p-4">
			Bonjour TailwindCSS avec Symfony !
		</div>
	</div>
{% endblock %}
